<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csl.dao.VideoDao">
    <!-- 配置(映射文件)Mapper -->
	<resultMap type="Video" id="VideoDao">
		<id property="v_id" column="v_id"/>
		<result property="v_url" column="v_url"/>
		<result property="v_account" column="v_account"/>
		<result property="v_password" column="v_password"/>
		<result property="h_id" column="h_id"/>
		<result property="status" column="status"/>
	</resultMap>
	
   <!-- 注册-->
   <insert id="insertVideo" parameterType="Video">
   		<selectKey keyProperty="id" order="AFTER" resultType="int">
   		    select last_insert_id()
   		</selectKey>
   		insert into video(v_url,v_account,v_password,h_id,status) values(
   		#{v_url},#{v_account},#{v_password},#{h_id},#{status})
   </insert>
    <!--查询-->
    <select id="searchVideoById" resultType="Video" parameterType="java.lang.Integer">
        select * from video where v_id = #{v_id}
    </select>
     <select id="searchVideoByHid" resultType="Video" parameterType="java.lang.Integer">
        select * from video where h_id = #{h_id}
    </select>
    <select id="searchVideos" resultType="Video">
        select * from video
    </select>
    <!-- 修改 -->
    <update id="updateVideo" parameterType="Video">
    	update video set v_url= #{v_url},v_account= #{v_account},
    	v_password= #{v_password},h_id= #{h_id},status= #{status} where v_id=#{v_id}
    </update>
    <!-- 删除 -->
    <delete id="deleteVideoById" parameterType="java.lang.Integer">
    	delete from video where v_id=#{v_id} 
    </delete>
</mapper>